p{
    text-align:center;
    text-decoration:underline;
    letter-spacing:1px;
    line-height:1;
    color:blue;
    font-size:30px;
    font-family:arial;
}
img{
border:solid;
border-size:20px;
padding:5px;
border-color:purple;
}
img:hover{
	transform:scale(1.15);
	box-shadow: 50px 20px 90px green;
	border-radius:55%;
}